<div class="pay">
<div class="container5">
    <a href="/wallet" class="buttonR">← Back</a>
    <h1 style="text-align: center; margin-bottom: 20px; margin-top: 20px;">PayPage</h1>
    <label for="cryptoCoin">Coin</label>
    <input type="text" class="field" id="cryptoCoin" placeholder="BTC">
    <label for="usdPayment">USD</label>
    <input type="text" class="field" id="usdPayment" placeholder="USD">
    <div class="button-container5">
      <button class="buttonPay" id="copyButton">Buy</button>
    </div>
</div>
</div>