   <div class="bg-container3">
    <div class="inner-container3">
     <div class="top-left3">
       <img src="https://assets.codepen.io/6060109/p1-doge.png">
       <h3>DogeCoin Tracker</h3>
     </div>
     <div class="top-right3">
       <button type="button">Buy Coins</button>
     </div>
     <div class="bottom-left3">
       <h3>$12.42 ↑</h3>
     </div>
     <div class="bottom-right">
     <div class="wallet" >
         <section>
                  <h3>That is your information</h3>
                  <ul>
                      <li><strong>Email:</strong> <%= user.email %></li>
                      <!-- Inne dane, ktore zostana dodane pozniej -->
                  </ul>
              </section> 
      </div>
     </div>
    </div>
  </div> 