<div style="background-color:rgb(43, 40, 52);">
<div class="container2">
    <div class="button-container2">
      <button>Bitcoin</button>
      <button>Ethereum</button>
      <button>Dogecoin</button>
      <button>Ripple</button>
      <button>Shiba Inu</button>
    </div>
  </div>
  <div class="mainwallet">
    <div class="content-container2">
      <div class="cardwallet">
        <div class="info2">
          <h1 style="margin-bottom: 20px;">Your wallet</h1>
          <p>Last Name: Doe</p>
          <p>Other Information</p>
        </div>
      </div>
      <div class="walletImg">
        <div class="price2">
            <span class="price2">$100</span>
        </div>
        <div class="buttonBuy">
            <button>Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>   